RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z_-\s]+)/?$ $1.php [L,QSA] #root pages
RewriteRule ^([a-zA-Z_-\s]+)/([a-zA-Z_-\s]+)/?$ tabmin/modules/$1/$2.php [L,QSA] #tabmin pages with no id
RewriteRule ^([a-zA-Z_-\s]+)/([a-zA-Z_-\s]+)/([0-9]+)/?$ tabmin/modules/$1/$2.php?$1_id=$3 [L,QSA] #tabmin pages with id (edit, etc)
