<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- General -->
	<constant name="SITE_NAME">Story Tracker</constant>

    <!-- Error Reporting -->
    <constant name="DEBUG">0</constant>
    <constant name="ERROR_REPORTING_EMAIL">nick@storytracker.net</constant>
    <constant name="WEBSITE_EMAIL">website@storytracker.net</constant>
    <constant name="CURRENT_DOMAIN">http://storytracker.net</constant>

    <!-- Mail (SMTP) -->
    <constant name="DEBUG_MAIL">0</constant>
    <constant name="SMTP_HOST">smtp.gmail.com</constant>
    <constant name="SMTP_PORT">465</constant>
    <constant name="SMTP_FROM_EMAIL">nick@storytracker.net</constant>
    <constant name="SMTP_FROM_NAME">Story Tracker</constant>
    <constant name="SMTP_EMAIL">noreplystorytracker@gmail.com</constant>
    <constant name="SMTP_PASSWORD"></constant>


    <!-- Recaptcha -->
    <constant name="RECAPTCHA_PUBLIC">6LdqRw8UAAAAANetLL3KqSZ9BjXJCh5RafeogoMA</constant>
    <constant name="RECAPTCHA_PRIVATE">6LdqRw8UAAAAAOV0EpOIP5wkGmSCZbII9fS4vYdB</constant>

    <!-- Paths -->
    <constant name="DOCUMENT_ROOT">/home3/npickeri/public_html/storytracker.net/www/</constant>
    <constant name="EMAIL_TEMPLATE_ROOT">/home3/npickeri/public_html/storytracker.net/www//../private//email_templates/</constant>
    <constant name="MODULE_ROOT">tabmin/modules/</constant>
    <constant name="INCLUDE_ROOT">/home3/npickeri/public_html/storytracker.net/www//../private//includes/</constant>
    <constant name="CLASS_ROOT">/home3/npickeri/public_html/storytracker.net/www//../private//includes/classes/</constant>
    <constant name="GLOBAL_ROOT">/home3/npickeri/public_html/storytracker.net/www//../private/_global/</constant>
    <constant name="UPLOAD_ROOT">/home3/npickeri/public_html/storytracker.net/www//..//uploads/</constant>
    <constant name="TEMP_ROOT">/home3/npickeri/public_html/storytracker.net/tmp/</constant>

	<!-- Database -->
	<constant name="TABMIN_DB_HOST">localhost</constant>
	<constant name="TABMIN_DB_USERNAME">npickeri_storytr</constant>
	<constant name="TABMIN_DB_PASSWORD"></constant>
	<constant name="TABMIN_DB_NAME">npickeri_storytracker</constant>
	
	<modules>
		<module name="users" title="Users">
			<tab name="view" title="View" file="view.php" autoreload="true"/>
			<tab name="list" title="List" file="list.php" autoreload="true"/>
			<tab name="add" title="Add" file="add.php" warnonclose="true"/>
			<tab name="bug_report" title="Bug Report" file="bug-report.php" warnonclose="true"/>
			<tab name="edit" title="Edit" file="edit.php" hidden="true" closebutton="true" warnonclose="true"/>
			<tab name="member_edit" title="Profile Edit" file="profile-edit.php" hidden="true" closebutton="true" warnonclose="true"/>
		</module>
        <module name="characters" title="Characters">
            <tab name="view" title="View" file="view.php" autoreload="true"/>
            <tab name="list" title="List" file="list.php" autoreload="true"/>
            <tab name="add" title="Add" file="add.php" warnonclose="true"/>
            <tab name="add-existing" title="Add Existing" file="add-existing.php" warnonclose="true"/>
            <tab name="edit" title="Edit" file="edit.php" hidden="true" closebutton="true" warnonclose="true"/>
        </module>
        <module name="settings" title="Settings">
            <tab name="view" title="View" file="view.php" autoreload="true"/>
            <tab name="list" title="List" file="list.php" autoreload="true"/>
            <tab name="add" title="Add" file="add.php" warnonclose="true"/>
            <tab name="ajax" title="Ajax" file="ajax.php" warnonclose="true"/>
            <tab name="edit" title="Edit" file="edit.php" hidden="true" closebutton="true" warnonclose="true"/>
        </module>
        <module name="plot" title="Plot">
            <tab name="view" title="View" file="view.php" autoreload="true"/>
            <tab name="list" title="List" file="list.php" autoreload="true"/>
            <tab name="add" title="Add" file="add.php" warnonclose="true"/>
            <tab name="ajax" title="Ajax" file="ajax.php" warnonclose="true"/>
            <tab name="edit" title="Edit" file="edit.php" hidden="true" closebutton="true" warnonclose="true"/>
        </module>
        <module name="stories" title="Stories">
            <tab name="view" title="View" file="view.php" autoreload="true"/>
            <tab name="preview" title="Preview" file="preview.php" autoreload="true"/>
            <tab name="list" title="List" file="list.php" autoreload="true"/>
            <tab name="add" title="Add" file="add.php" warnonclose="true"/>
            <tab name="ajax" title="Ajax" file="ajax.php" warnonclose="true"/>
            <tab name="edit" title="Edit" file="edit.php" hidden="true" closebutton="true" warnonclose="true"/>
        </module>
        <module name="photos" title="Photos">
            <tab name="view" title="View" file="view.php" autoreload="true"/>
            <tab name="preview" title="Preview" file="preview.php" autoreload="true"/>
            <tab name="list" title="List" file="list.php" autoreload="true"/>
            <tab name="add" title="Add" file="add.php" warnonclose="true"/>
            <tab name="ajax" title="Ajax" file="ajax.php" warnonclose="true"/>
            <tab name="edit" title="Edit" file="edit.php" hidden="true" closebutton="true" warnonclose="true"/>
        </module>
	</modules>
	
	<!-- 
	Classes to be included
	-->
	<class file="Controller.inc.php"/>
	<class file="Tobjects.inc.php"/>
	<class file="LazyTobjects.inc.php"/>

	<class file="Users.inc.php"/>
    <class file="UserAccountTypeChanges.inc.php"/>
    <class file="UserLogins.inc.php"/>
    <class file="UserController.inc.php"/>
	<class file="Roles.inc.php"/>

	<class file="Permissions.inc.php"/>
    <class file="PermissionsController.inc.php"/>

	<class file="Characters.inc.php"/>
    <class file="CharacterController.inc.php"/>

	<class file="CharacterEvents.inc.php"/>
    <class file="CharacterEventController.inc.php"/>

    <class file="Stories.inc.php"/>
    <class file="StoryController.inc.php"/>

    <class file="Settings.inc.php"/>
    <class file="SettingController.inc.php"/>

    <class file="PlotEvents.inc.php"/>
    <class file="PlotEventController.inc.php"/>

    <class file="Series.inc.php"/>
    <class file="SeriesController.inc.php"/>

    <class file="RelationshipTypes.inc.php"/>
    <class file="RelationshipCharts.inc.php"/>
    <class file="RelationshipChartNodes.inc.php"/>
    <class file="RelationshipChartNodesController.inc.php"/>
    <class file="RelationshipChartConnections.inc.php"/>
    <class file="RelationshipChartConnectionsController.inc.php"/>

	<class file="Pictures.inc.php"/>
	<class file="PictureFiles.inc.php"/>
	<class file="PictureController.inc.php"/>
    <class file="Tags.inc.php"/>

	<class file="Models.inc.php"/>
	<class file="Groups.inc.php"/>
	<class file="Fields.inc.php"/>

    <class file="Printer.inc.php"/>

    <class file="BugReports.inc.php"/>

</config>
